data/catalogs/schemas/eventx/basicTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ######################################################################################### -->
<!--
* basic types definitions
*
* project: 	BerlinOnline Schema
*
* version: 	1.0.3
* date:		2010-06-07
* author:	Janne K. Olesen (janne.olesen@oberbaum-concept.com)
*
* based on schema by Christian Scharff (TIP Verlag GmbH & Co. KG)
-->
<!-- ######################################################################################### -->



<!-- ######################################################################################### -->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
			xmlns:tip="http://www.tip-berlin.de/xml/base"
			targetNamespace="http://www.tip-berlin.de/xml/base"
			elementFormDefault="qualified">


<!-- ############################### elements ################################################ -->
	<element name="name" type="tip:Textfeld">
		<annotation>
			<documentation>
				<![CDATA[
					Dieses Element ist niemals das Root-Element. Es muss aus historischen Gruenden
					hier als Element deklariert werden.
				]]>
			</documentation>
		</annotation>
	</element>


	<element name="text" type="tip:Textfeld">
		<annotation>
			<documentation>
				<![CDATA[
					Dieses Element ist niemals das Root-Element. Es muss aus historischen Gruenden
					hier als Element deklariert werden.
				]]>
			</documentation>
		</annotation>
	</element>


	<element name="datum" type="tip:Datum">
		<annotation>
			<documentation>
				<![CDATA[
					Dieses Element ist niemals das Root-Element. Es muss aus historischen Gruenden
					hier als Element deklariert werden.
				]]>
			</documentation>
		</annotation>
	</element>


	<element name="zeit" type="tip:Zeit">
		<annotation>
			<documentation>
				<![CDATA[
					Dieses Element ist niemals das Root-Element. Es muss aus historischen Gruenden
					hier als Element deklariert werden.
				]]>
			</documentation>
		</annotation>
	</element>



<!-- ############################### groups ################################################## -->
	<group name="Zeitrahmen">
		<sequence>
			<element name="von" type="tip:Zeit"/>
			<element name="bis" type="tip:Zeit"/>
		</sequence>
	</group>


<!-- ############################### complexTypes ############################################ -->
	<complexType name="Adresse">
		<sequence>
			<element name="strasse" type="tip:Textfeld" minOccurs="0"/>
			<element name="hausnummer" type="tip:Textfeld" minOccurs="0"/>
			<element name="plz" type="tip:Plz" minOccurs="0"/>
			<element name="ort" type="tip:Textfeld" minOccurs="0"/>
		</sequence>
	</complexType>


	<complexType name="Verkehrsanbindung">
		<annotation>
			<documentation>
				<![CDATA[
					Eigentlicher Aufbau:

					<sequence>
						<tip:verkehrsanschluss art="U-Bahn" type:"tip:textfield" minOccurs="0" maxOccurs="1"/>
						<tip:verkehrsanschluss art="S-Bahn" type:"tip:textfield" minOccurs="0" maxOccurs="1"/>
						<tip:verkehrsanschluss art="Tram" type:"tip:textfield" minOccurs="0" maxOccurs="1"/>
						<tip:verkehrsanschluss art="Bus" type:"tip:textfield" minOccurs="0" maxOccurs="1"/>
					</sequence>

					wobei mindestens ein <tip:verkehrsanschluss> vorhanden ist.
					Dies lässt sich in xsd aber nicht beschreiben.
				]]>
			</documentation>
		</annotation>
		<sequence>
			<element name="verkehrsanschluss" type="tip:Verkehrsmittel" maxOccurs="4"/>
		</sequence>
	</complexType>


	<complexType name="Verkehrsmittel">
		<simpleContent>
			<extension base="tip:Textfeld">
				<attribute name="art" use="required">
					<simpleType>
						<restriction base="string">
							<enumeration value="S-Bahn"/>
							<enumeration value="U-Bahn"/>
							<enumeration value="Tram"/>
							<enumeration value="Bus"/>
						</restriction>
					</simpleType>
				</attribute>
			</extension>
		</simpleContent>
	</complexType>


	<complexType name="Telefonnummer">
		<sequence>
			<element name="ortsvorwahl" type="tip:Textfeld" minOccurs="0"/>
			<element name="durchwahl" type="tip:Textfeld"/>
		</sequence>
	</complexType>


	<complexType name="Oeffungszeiten">
		<sequence>
			<element name="wochentagzeiten" maxOccurs="7">
				<complexType>
					<group ref="tip:Zeitrahmen" minOccurs="0" maxOccurs="3"/>
					<attribute name="wochentag" type="tip:Wochentag"/>
				</complexType>
			</element>
		</sequence>
	</complexType>


	<complexType name="Fassungsvermoegen">
		<simpleContent>
			<extension base="nonNegativeInteger">
				<attribute name="art">
					<simpleType>
						<restriction base="string">
							<enumeration value="personen"/>
							<enumeration value="sitzplaetze"/>
							<enumeration value="stehplaetze"/>
						</restriction>
					</simpleType>
				</attribute>
			</extension>
		</simpleContent>
	</complexType>
 	
  <complexType name="ArtikelRef">
  	<simpleContent>
			<extension base="tip:Textfeld">
  	    <attribute name="key" use="required"/>	
  	    <attribute name="prioritaet" use="required"/>	
			</extension>
		</simpleContent>
	</complexType>
  
  
	
	
<!-- ############################### simpleTypes ############################################# -->
	<simpleType name="Rubrik">
		<restriction base="tip:Textfeld">
			<pattern value="(/[^/&#x0a;&#x0d;&#x09;]+)+"/>
			<!--pattern value="(/[^/\n\r\t]+)+"/-->
		</restriction>
	</simpleType>


	<simpleType name="Plz">
		<annotation>
			<documentation>
				<![CDATA[
					Sollte dem Pattern '\d{5}' entsprechen, wird aber weder vom Export noch von der Datenbank
					garantiert sondern ist eine Eingabekonvention
				]]>
			</documentation>
			</annotation>
		<restriction base="tip:Textfeld"/>
	</simpleType>


	<simpleType name="Textfeld">
		<restriction base="string"/>
	</simpleType>


	<simpleType name="flag">
		<restriction base="boolean"/>
	</simpleType>


	<simpleType name="True">
		<restriction base="string">
			<enumeration value="true"/>
		</restriction>
	</simpleType>


	<simpleType name="Id">
		<restriction base="nonNegativeInteger">
			<minInclusive value="1"/>
		</restriction>
	</simpleType>


	<simpleType name="Wochentag">
		<restriction base="string">
			<enumeration value="Mo"/>
			<enumeration value="Di"/>
			<enumeration value="Mi"/>
			<enumeration value="Do"/>
			<enumeration value="Fr"/>
			<enumeration value="Sa"/>
			<enumeration value="So"/>
		</restriction>
	</simpleType>


	<simpleType name="Datum">
		<restriction base="string">
			<pattern value="\d{4}-\d{2}-\d{2}"/>
		</restriction>
	</simpleType>


	<simpleType name="DatumZeit">
		<restriction base="string">
			<pattern value="\d{4}-\d{2}-\d{2} \d{2}:\d{2}"/>
		</restriction>
	</simpleType>


	<simpleType name="DatumTZeit">
		<restriction base="string">
			<pattern value="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}"/>
		</restriction>
	</simpleType>


	<simpleType name="Zeit">
		<restriction base="string">
			<pattern value="\d{2}:\d{2}"/>
		</restriction>
	</simpleType>


	<simpleType name="Behindertengerecht">
		<restriction base="string">
			<enumeration value="Toilette"/>
			<enumeration value="Zugang"/>
		</restriction>
	</simpleType>


	<simpleType name="gt0Integer">
		<restriction base="nonNegativeInteger">
			<minInclusive value="1"/>
		</restriction>
	</simpleType>

	<!--jko: end -->
	<!--
	<group name="alter">
		<choice>
			<group ref="tip:altersbereich"/>
		</choice>
	</group>

	<simpleType name="altersangabe">
		<restriction base="nonNegativeInteger"/>
	</simpleType>
	<group name="altersbereich">
		<sequence>
			<element name="von" type="tip:altersangabe"/>
			<element name="bis" type="tip:altersangabe" minOccurs="0"/>
		</sequence>
	</group>
	<simpleType name="behindertengerecht">
		<restriction base="string">
			<enumeration value="Toilette"/>
			<enumeration value="Zugang"/>
		</restriction>
	</simpleType>
	<simpleType name="bewertung">
		<restriction base="integer">
			<minInclusive value="1"/>
			<maxInclusive value="6"/>
		</restriction>
	</simpleType>

	<simpleType name="datum">
		<restriction base="date">
			<pattern value="\d{4}-\d{2}-\d{2}"/>
		</restriction>
	</simpleType>


	<simpleType name="dauer">
		<restriction base="nonNegativeInteger"/>
	</simpleType>
	<simpleType name="durchwahl">
		<restriction base="string">
			<pattern value="\d{1,10}-\d{1,9}|\d{1,20}"/>
		</restriction>
	</simpleType>
	<complexType name="eintrittspreis">
		<choice minOccurs="0">
			<group ref="tip:preisrahmen"/>
			<element name="einheitspreis" type="tip:preis_international"/>
		</choice>
		<attribute name="art" type="tip:eintrittspreis_art" use="optional"/>
	</complexType>
	<simpleType name="eintrittspreis_art">
		<restriction base="string">
			<enumeration value="Vorverkauf"/>
			<enumeration value="Abendkasse"/>
		</restriction>
	</simpleType>-->

	<!--complexType name="eintrittspreis_ort">
		<choice>
			<group ref="tip:preis_ort_ermaessigt_grp" minOccurs="0"/>
			<group ref="tip:preis_ort_normal_grp" minOccurs="0"/>
		</choice>
		<attribute name="wochentag" type="tip:wochentage"/>
	</complexType-->
	<!--
	<group name="preis_ort_normal_grp">
		<sequence>
			<element name="von" type="tip:preis" minOccurs="0"/>
			<element name="bis" type="tip:preis" minOccurs="0"/>
		</sequence>
	</group>
	<group name="preis_ort_ermaessigt_grp">
		<sequence>
			<element name="von" type="tip:preis" minOccurs="0"/>
			<element name="bis" type="tip:preis" minOccurs="0"/>
		</sequence>
	</group>

	<simpleType name="email">
		<restriction base="token"/>
	</simpleType>

	<group name="entitaet_grp">
		<sequence>
			<element name="name" type="tip:textfield"/>
			<element name="text" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<simpleContent>
						<extension base="tip:text">
							<attribute name="texttyp" type="token" use="optional"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
		</sequence>
	</group>
	<complexType name="entitaet" abstract="true">
		<sequence>
			<group ref="tip:entitaet_grp"/>
		</sequence>
		<attribute name="key" type="tip:id" use="required"/>
	</complexType>
	<simpleType name="entscheidung">
		<restriction base="boolean"/>
	</simpleType>
	<complexType name="fassungsvolumen">
		<simpleContent>
			<extension base="nonNegativeInteger">
				<attribute name="art">
					<simpleType>
						<restriction base="string">
							<enumeration value="personen"/>
							<enumeration value="sitzplaetze"/>
							<enumeration value="stehplaetze"/>
						</restriction>
					</simpleType>
				</attribute>
			</extension>
		</simpleContent>
	</complexType>
	<simpleType name="geschlecht">
		<restriction base="string">
			<enumeration value="m"/>
			<enumeration value="w"/>
		</restriction>
	</simpleType>
	<simpleType name="id">
		<restriction base="string"/>
	</simpleType>
	<simpleType name="id_referenz">
		<restriction base="string"/>
	</simpleType>
	<simpleType name="jahr">
		<restriction base="string"/>
	</simpleType>
	<simpleType name="kartenverkauf">
		<restriction base="string">
			<enumeration value="AK"/>
			<enumeration value="VVK"/>
			<enumeration value="CTS"/>
			<enumeration value="Hotline"/>
		</restriction>
	</simpleType>
	<simpleType name="klimatisiert">
		<restriction base="boolean"/>
	</simpleType>
	<simpleType name="kontakt">
		<restriction base="token"/>
	</simpleType>
	<simpleType name="laendercode">
		<restriction base="string">
			<pattern value="\d{1,5}"/>
		</restriction>
	</simpleType>
	<simpleType name="laenderkennzeichen">
		<restriction base="string"/>
	</simpleType>
	<simpleType name="lautstaerke">
		<restriction base="integer">
			<minInclusive value="1"/>
			<maxInclusive value="6"/>
		</restriction>
	</simpleType>
	<complexType name="oeffnungszeiten">
		<sequence>
			<element name="wochentagzeiten" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<group ref="tip:zeitrahmen" minOccurs="0" maxOccurs="unbounded"/>
					<attribute name="wochentag" type="tip:wochentag"/>
				</complexType>
			</element>
		</sequence>
	</complexType>



	<simpleType name="preis">
		<restriction base="decimal">
			<minInclusive value="0"/>
			<maxInclusive value="99999.99"/>
			<pattern value="0(.\d{2})?"/>
			<pattern value="[1-9]\d{0,4}(.\d{2})?"/>
		</restriction>
	</simpleType>
	<complexType name="preis_international">
		<simpleContent>
			<extension base="tip:preis">
				<attribute name="waehrung" type="tip:waehrung" default="EUR"/>
			</extension>
		</simpleContent>
	</complexType>
	<simpleType name="preiskategorie">
		<restriction base="integer">
			<minInclusive value="1"/>
			<maxInclusive value="6"/>
		</restriction>
	</simpleType>
	<group name="preisrahmen">
		<sequence>
			<element name="von" type="tip:preis_international"/>
			<element name="bis" type="tip:preis_international"/>
		</sequence>
	</group>
	<simpleType name="publikum">
		<restriction base="string">
			<enumeration value="Familie"/>
			<enumeration value="Frauen"/>
			<enumeration value="Jugende"/>
			<enumeration value="Intellektuelle"/>
			<enumeration value="Kinder"/>
			<enumeration value="Lesbisch"/>
			<enumeration value="Männer"/>
			<enumeration value="Mix"/>
			<enumeration value="Multi-Kulti"/>
			<enumeration value="Schwul"/>
			<enumeration value="Schwul_Lesbisch"/>
			<enumeration value="Singels"/>
			<enumeration value="Studenten"/>
			<enumeration value="Szene"/>
			<enumeration value="Touristen"/>
		</restriction>
	</simpleType>
	<complexType name="referenz">
		<simpleContent>
			<extension base="tip:referenz_text">
				<attribute name="foreignkey" type="tip:id_referenz" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<simpleType name="referenz_text">
		<restriction base="string"/>
	</simpleType>-->

	<!--jko-->

	<!--

	<simpleType name="soundsystem">
		<restriction base="string">
			<enumeration value="Dolby"/>
			<enumeration value="DTS"/>
			<enumeration value="Surround"/>
		</restriction>
	</simpleType>
	<complexType name="telefonnummer">
		<sequence>
			<element name="laendercode" type="tip:laendercode" minOccurs="0"/>
			<element name="ortsvorwahl" type="tip:vorwahl" minOccurs="0"/>
			<element name="durchwahl" type="tip:durchwahl"/>
		</sequence>
	</complexType>
	<simpleType name="text">
		<restriction base="string"/>
	</simpleType>

	<complexType name="termin">
		<sequence>
			<element name="datum" type="tip:datum"/>
			<element name="zeit" type="tip:zeit" minOccurs="0"/>
		</sequence>
	</complexType>
	<simpleType name="url">
		<restriction base="token"/>
	</simpleType>


	<simpleType name="vorwahl">
		<restriction base="string">
			<pattern value="\d{1,10}"/>
		</restriction>
	</simpleType>
	<simpleType name="waehrung">
		<restriction base="string">
			<enumeration value="DEM"/>
			<enumeration value="EUR"/>
		</restriction>
	</simpleType>
	<simpleType name="wochentag">
		<restriction base="string">
			<enumeration value="Mo"/>
			<enumeration value="Di"/>
			<enumeration value="Mi"/>
			<enumeration value="Do"/>
			<enumeration value="Fr"/>
			<enumeration value="Sa"/>
			<enumeration value="So"/>
		</restriction>
	</simpleType>
	<simpleType name="wochentage">
		<list itemType="tip:wochentag"/>
	</simpleType>
	<group name="zeitrahmen">
		<sequence>
			<element name="von" type="tip:zeit"/>
			<element name="bis" type="tip:zeit"/>
		</sequence>
	</group>
	<simpleType name="zeit">
		<restriction base="time">
			<pattern value="\d{2}:\d{2}"/>
		</restriction>
	</simpleType>
	-->
</schema>
